html {
	background-color: #e5e7e9;
	color: #0a0a0a;
}

body {
	font-family: "Praktika Regular", Arial, sans-serif;
	background: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
	margin: 0px;
}

nav {
	background-color: #0A2240;
	border-bottom: 10px solid #7C9CBF;
	color: #ffffff;
	font-weight: bold;
	width: 100%;
}

#nav-content {
	width: 75%;
	margin: 0 auto;
}

#left-nav-container, #right-nav-container {
	width: 10%;
}

#left-nav-container img {
	width: 100%;
}

#link-nav-container {
	width: 80%;
}

#link-nav-container ul {
	list-style: none;
	text-transform: uppercase;
}

#link-nav-container ul li:first-child {
	background-color: #FFBB22;
	color: #000000;
}

#link-nav-container ul li:hover {
	background-color: #7C9AC0;
	color: #000000;
}

#right-nav-container img {
	width: 10%;
}

#right-nav-container p {
	border-right: 1px solid #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	color: #12173F;
}

#main-container {
	width: 75%;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	display: flex;
}

#main-content-left {
	padding: 15px;
	width: 33%;
	border: 1px solid #000000;
	text-align: center;
	float: left;
}

#main-content-left img {
	width: 75%;
}

#main-content-right {
	flex-grow: 1;
	text-align: center;
	padding: 10px;
}

#main-content-right img {
	width: 90%;
}