html {
	background-color: #e5e7e9;
	color: #0a0a0a;
}

body {
	font-family: "Praktika Regular", Arial, sans-serif;
	background: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
	margin: 0px;
}

#nba-nav {
	background-color: #ffffff;
	color: #0068b3;
	padding: 5px 0px 5px 0px;
}

#nba-logo {
	width: 7%;
}

#link-nba-container {
	width: 90%;
	flex-grow: 1;
	font-weight: bold;
}

#link-nba-container ul {
	list-style: none;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;
}

#link-nba-container ul li, #link-nav-container ul li {
	display: inline;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
}

#link-nba-container ul li {
	margin-right: 30px;
	font-size: 11px;
}

#link-nba-container ul li:hover {
	text-decoration: underline;
}

#memphis-nav {
	background-color: #0A2240;
	border-bottom: 10px solid #7C9CBF;
	color: #ffffff;
	font-weight: bold;
	width: 100%;
	font-size: 14px;
	padding: 5px;
	padding-top: 20px;
}

.nav-content {
	width: 60%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

#team-logo {
	position: absolute;
	top: 60px;
}

.left-nav-container, #right-nav-container {
	width: 10%;
}

.left-nav-container img {
	width: 50%;
}

#link-nav-container {
	width: 80%;
	flex-grow: 1;
	margin-left: 10%;
	font-weight: bold;
}

#link-nav-container ul {
	list-style: none;
	text-transform: uppercase;
	padding-left: 30px;
}

#link-nav-container ul li {
	padding: 12px 6px;
	margin-right: 8px;
}

#link-nav-container ul li:first-child {
	background-color: #FFBB22;
	color: #000000;
	padding: 10px 15px;
}

#link-nav-container ul li:hover {
	background-color: #7C9AC0;
	color: #000000;
}

#right-nav-container {
	flex-grow: 1;
	text-align: right;
	padding-right: 5px;
}

#right-nav-container img {
	width: 10%;
}

#right-nav-container span {
	border-right: 1px solid #ffffff;
	padding-right: 10px;
	margin-right: 5px;
}

h1, h2, h3, h4, h5, h6 {
	color: #12173F;
}

#main-container {
	width: 60%;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 25px;
	display: flex;
}

#main-content-left {
	padding: 15px;
	width: 33%;
	border: 1px solid #000000;
	text-align: center;
	float: left;
}

#main-content-left img {
	width: 75%;
}

#main-content-right {
	flex-grow: 1;
	text-align: center;
	padding: 10px;
}

#main-content-right img {
	width: 90%;
}